
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if @search_message %>
  <p id="notice"><%= @search_message %></p>
<% end %>

<div class="container">
<h1>Products</h1>

<table>
  

    <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd' ,'list_line_even')%>">
        <td><%= image_tag(product.image, class: 'list_image') %></td>
<dl>
        <td class= "list_descrption"><%= product.name %><br>
       <dd> <%= product.description %><br>
       
        <%= product.price %></td></dd>
</dl>
        <td class= "list_actions"><%= link_to 'Show', product %><br>
        <%= link_to 'Edit', edit_product_path(product) %><br>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
</table>
<br>

<%= link_to 'New Product', new_product_path %>
</div>
