<!DOCTYPE html>
<html>
  <head>
    <title>App278</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name%>">

    <div id="banner">
    <%= image_tag("logo.png")%>
    <%= @page_title || "My Online Store" %>
    </div>

    <div id="columns">

     <div id="side">
            <%if controller.controller_name== 'shopper' || controller.controller_name == 'products'%>
            <div id='search'>
             <%= form_tag("/#{controller.controller_name}/search", method:"post") do%>
             <%= label_tag(:search, "Search the Product:")%>
             <%= text_field_tag(:search)%>
             <%= submit_tag("Search")%>
             <%end%>
             </div>

            <%end%>

           <div id= "cart">
           <%= render_if @cart && @cart.lineitems.any?, @cart%>
           </div>
        
   <ul>
        
         <li><%= link_to 'Home', shopper_path%></li>
         <li><a href="/faq">Questions</a></li>
         <li><a href="/contact">Contact</a></li>
         <li><%= link_to 'Login', login_path%></li>
	 </ul> 

   <% if session[:user_id]%>
    <ul>
   <li><%= link_to 'Orders', orders_path%></li>
   <li><%= link_to 'Products', products_path%></li>
  <li><%= link_to 'Users', users_path%></li>
   </ul>
   <%= button_to 'Logout', logout_path, method: :delete%>

<%end%>


     </div>
        <div id="main">
          <%= yield%>
        </div>

       </div>

      
    
  </body>
</html>
